<%= form_for (@profile) do |f| %>

  <div class="field"><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>

  <div class="field"><%= f.label :last_name %><br />
  <%= f.text_field  :last_name %></div>

  <div class="field"><%= f.label :likes %><br />
  <%= f.text_field  :likes %></div>

  <div class="field"><%= f.label :about_me %><br />
  <%= f.text_field  :about_me %></div>


  <%= f.submit %>
<% end %>