<h1>Home Page</h1>

<% if user_signed_in? %>
  <div>Hello <%= current_user.email %> join a project?</div>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <p>Make a new project</p>
  <%= link_to "new project", new_project_path %>
<% else %>
<h1>First Time</h1>




  <%= render "devise/shared/links" %>

</div>
<% end %>

<aside id="home_list">  <ul>
    <% @projects.each do |project| %>
      <li>
        <%= project.name %>
        <% if current_user && project.owner.to_i == current_user.id %>
          <%= link_to "edit", edit_project_path(project) %>
        <% else %>

        <% end %>
      </li>
    <% end %>

  </ul>
</aside>


