<!DOCTYPE html>
<html lang="en">

<h4>Home Page</h4>
<div id="user_info">
  <ul class="list-inline">
    <% if user_signed_in? %>
    <li><div>Hello <%= current_user.email %> join a project?</div></li>
    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    </br>
    <li><p>Make a new project</p></li>
    <li><%= link_to "new project", new_project_path %></li>
    <% else %>

    <h1>First Time</h1>





     <%= render "devise/shared/links" %>


    <% end %>
  </ul>
</div>
<aside id="home_list">  
  <ul>
    <% @projects.each do |project| %>
      <li>
        <%= project.name %>
        <%= project.description %>
        <% if current_user && project.owner.to_i == current_user.id %>
          <%= link_to "edit", edit_project_path(project) %>
        <% else %>

        <% end %>
      </li>
    <% end %>

  </ul>
</aside>

</html>
