<div class='container'>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">SpinDance PM Tool</a>
	    </div>
	      <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	         	<select class="form-control" onchange="location = this.options[this.selectedIndex].value;">
							<option disabled selected>New</option>
							<option value ="/profiles/new">Person</option>
							<option value="/projects/new">Project</option>
						</select>
						<select class="form-control" onchange="location = this.options[this.selectedIndex].value;">
							<option disabled selected>Edit</option>
							<option value="/profiles">Person</option>
							<option value="/projects">Project</option>
						</select>
	        </div>
	      </form>
	      <ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
						<li><%= current_user.email %></li>
						<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
					<% else %>
						<li><%=link_to "Sign In", new_user_session_path %></li>
						<li><%=link_to "Sign Up", new_user_registration_path %></li>
					<% end %>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</div>

<div class='container'>
	<div class='row'>
		<div class='col-md-8'>
			<div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title">Calandar</h3>
			  </div>
			  <div class="panel-body">
			    <div id ="calendar"></div>
			  </div>
			</div>
		</div>
		<div class='col-md-4'>
			<div class="panel panel-danger">
			  <div class="panel-heading">
			    <h3 class="panel-title">Profiles</h3>
			  </div>
			  <div class="panel-body">
			    <ul>
						<% @profile.each do |profile| %>
							<li>
								<%= profile.first_name %>
								<%= profile.last_name %>
							</li>
						<% end %>
					</ul>
			  </div>
			</div>
		</div>
	</div>
</div>

<br>

<div class='container'>
	<div class='row'>
		<div class='col-md-12'>
			<div class="panel panel-info">
			  <div class="panel-heading">
			    <h3 class="panel-title">Projects</h3>
			  </div>
			  <div class="panel-body">
					<ul>
						<% @projects.each do |project| %>
							<li>
								<% if current_user && project.owner.to_i == current_user.id %>
									<%= project.name %>
									<%= project.description %>
									<%= link_to "edit", edit_project_path(project) %>
								<% else %>
									<%= project.name %>
									<%= project.description %>
								<% end %>
							</li>
						<% end %>
					</ul>
			  </div>
			</div>
		</div>
	</div>
</div>

<div class='container hide'>
	<footer>
		<div class='row'>
			<div class='col-md-12'>
				<p>
				Footer
				</p>
			</div>
		</div>
	</footer>
</div>