<%= form_for (@project) do |f| %>
  <div class="field form-group">
  	<%= f.label :name %>
  	<%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="field form-group">
  	<%= f.label :description %>
  	<%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="field form-group row">
    <div class='col-xs-6'>
      <%= f.label :start_date %>
      <%= f.text_field :start_date, 'data-behaviour' => 'datepicker', :class => 'datepicker form-control' %>
    </div>
    <div class='col-xs-6'>
      <%= f.label :end_date %>
      <%= f.text_field :end_date, 'data-behaviour' => 'datepicker', 'class'=>'datepicker form-control' %>
    </div>
  </div>
  <%= f.submit "Save Project", :class => "btn btn-block btn-primary"%>
<% end %>

<script type="text/javascript">
  $(document).ready(function (){
    $('[data-behaviour=datepicker]').datepicker({format: 'yyyy-mm-dd'});
  });
</script>