<div class='container'>
  <div class='row'>
    <div class='col-md-4 col-md-offset-4'>
      <h2>Projects</h2>
      <ul class="list-group">
        <% @projects.each do |project| %>
          <li data-id='<%= project.id %>' class="list-group-item">
            <b><%= project.name %></b> <a href='/projects/<%= project.id %>/edit' class="badge">edit</a>
      			<br>
            <small>Description: <%= project.description %></small>
            <br>
      			<small>Dates: <%= project.start_date %> to <%= project.end_date %></small>
            <br>
      			<small>Owner: <%= project.owner %> / <%= project.user_email %></small>
          </li>
        <% end %>
      </ul>  
    </div>
  </div>
</div>